<div zyf-category-manage-item="" data-parent="@Model.ParentId">
    @if (!Model.IsDefault)
    {
        <span class="pull-right">
            <a zyf-category-delete="" data-self-id="@Model.Id" class="text-warning"><span class="fa fa-trash"></span>删除</a>
            <a zyf-category-edit="" data-self-id="@Model.Id" style="margin-left: 14px;"><span class="fa fa-edit"></span>编辑</a>
        </span>
        <h4 zyf-category-edit-name="">
            <a href="/Article/Category-@Model.Id"><span class="fa fa-folder"></span>@Model.Title</a>
        </h4>
    }
    else
    {
        <h4 zyf-category-edit-name="">
            <a class="text-muted" href="/Article/Category-@Model.Id"><span class="fa fa-folder"></span>@Model.Title</a>
        </h4>

    }
    <p zyf-category-edit-description="">
        @Model.Body
    </p>
</div>
