@model ViewModel.Category.InputModel
<div class="modal fade" id="new-category" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("_New", "Category"))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><span class="fa fa-plus"></span> 添加新的系列</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>父系列：</label>
                        @Html.DropDownListFor(m => m.SelectedCategoryId,
                            new SelectList(Model.Categories, "Id", "Title"),
                            "--------------",
                            new { @class = "form-control", zyf_categories = string.Empty })
                    </div>
                    <div class="form-group">
                        <label>名称：（* 必填）</label>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "不能为空，25字符以内", zyf_new_category_name = string.Empty })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="form-group">
                        <label>描述：</label>
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "255个字符以内，简单描述系列的目的、内容等" })
                        @Html.ValidationMessageFor(m => m.Description)
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" zyf-new-category-submit zyf-submit-once>提交</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
