@model ViewModel.Category.SeriesModel
@{
    Layout = null;
}
@using (Html.BeginForm("_NewInManage", "Category", FormMethod.Post, new { @class = "hidden", zyf_category_edit_form = "" }))
{
    <div class="form-group">
        <label>父系列：</label>
        @Html.DropDownListFor(s => s.SeriesLevel, ViewData["SelectLists"] as List<SelectListItem>, "默认分类", new { @class = "form-control", zyf_series_list = "" })
    </div>
    <div class="form-group">
        <label>标题：</label>
        @Html.TextBoxFor(s => s.Title, new { @class = "form-control", placeholder = "不能为空，25字符以内" })
        @Html.ValidationMessageFor(s => s.Title, "", new { style = "color:red" })
    </div>
    <div class="form-group">
        <label>描述：</label>
        @Html.TextBoxFor(s => s.Body, new { @class = "form-control", placeholder = "255个字符以内，简单描述系列的目的、内容等" })
        @Html.ValidationMessageFor(s => s.Body, "", new { style = "color:red" })
    </div>
    <button zyf-series-submit type="submit" class="btn btn-primary">提交</button>
    <button zyf-category-edit-cancel="" type="button" class="btn btn-default">放弃</button>
}
