@model ViewModel.Category.ManageModel
@{
    Layout = "~/Views/Shared/Layout/_DualColumn.cshtml";
}
@section Description
{
    <title>@ViewData["title"]</title>
    <script>
        $(document).ready(function () {
            $("[zyf-category-delete]").click(function (event) {
                event.preventDefault();
                var $trigger = $(this),
                    $container = $trigger.parents("[zyf-category-manage-item]"),
                    currentId = $trigger.data("self-id"),
                    $deleteForm = $("[zyf-category-delete-form]");
                $deleteForm.find("[zyf-category-delete-btn]").data("self-id", currentId);
                $("[zyf-categories]").children("option").each(function () {
                    if ($(this).attr('value') === currentId) {
                        $(this).attr("disabled", "disabled");
                    }
                });
                $container.append($deleteForm.removeClass("hide"));
            });

            $("[zyf-category-delete-btn]").click(function () {
                var currentId = $(this).data("self-id"),
                    moveToId = $(this).parents('form[zyf-category-delete-form]').find("[zyf-categories]").val(),
                    location = "/Category/_Delete/" + currentId + "?moveToId=" + moveToId;
            });

            $("[zyf-category-add]").click(function (event) {
                event.preventDefault();
                var $editForm = $("[zyf-category-edit-form]");
                $editForm.attr("action", "/Category/_NewInManage");
                $editForm.removeClass("hide");
            });

            $("[zyf-category-edit]").click(function (event) {
                event.preventDefault();
                var $trigger = $(this),
                    $container = $trigger.parents("[zyf-category-manage-item]"),
                    parentId = $container.data("parent"),
                    currentId = $trigger.data("self-id"),
                    $oldName = $container.find("[zyf-category-edit-name]"),
                    $oldDescription = $container.find("[zyf-category-edit-description]"),
                    $editForm = $("[zyf-category-edit-form]");
                $editForm.attr("action", "/Category/_EditInManage/" + currentId);
                $("[zyf-categories]").val(parentId);
                $("[zyf-categories]").children("option").each(function () {
                    if ($(this).attr('value') == currentId) {
                        $(this).attr("disabled", "disabled");
                    }
                });
                $("[zyf-category-edit-new-name]").val($.trim($oldName.text()));
                $("[zyf-category-edit-new-description]").val($.trim($oldDescription.text()));
                $container.append($editForm.removeClass("hide"));
            });

            $("[zyf-category-edit-cancel]").click(function () {
                $(this).parents("form").addClass("hide");
            });
        })

    </script>
}
<form class="hide" method="post" zyf-category-edit-form>
    <div class="form-group">
        <label>父系列：</label>
        @Html.DropDownListFor(m => m.Input.SelectedCategoryId,
            new SelectList(Model.Input.Categories, "Id", "Title"),
            "--------------",
            new { @class = "form-control", zyf_categories = string.Empty })
    </div>
    <div class="form-group">
        <label>标题：</label>
        @Html.TextBoxFor(m => m.Input.Name, new { zyf_category_edit_new_name = string.Empty, @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Input.Name)
    </div>
    <div class="form-group">
        <label>描述：</label>
        @Html.TextAreaFor(m => m.Input.Description, new { zyf_category_edit_new_description = string.Empty, @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Input.Description)
    </div>
    <button type="submit" class="btn btn-primary zyf-submit-once">提交</button>
    <button zyf-category-edit-cancel type="button" class="btn btn-default">放弃</button>
</form>
<form style="padding:10px 20px;" class="hide yellow-highlight" zyf-category-delete-form>
    <a zyf-category-edit-cancel class="btn pull-right"><span class="fa fa-stop-circle-o"></span> 放弃</a>
    <label>同时将该系列下文章移到：</label>
    <div class="input-group">
        @Html.DropDownListFor(m => m.Input.SelectedCategoryId,
            new SelectList(Model.Input.Categories, "Id", "Title"),
            "--------------",
            new { @class = "form-control", zyf_categories = string.Empty })
        <a zyf-category-delete-btn class="input-group-addon">提交</a>
    </div>

</form>
@foreach (var item in Model.Items)
{
    @Html.Action("_SubManage", new { parentId = item.Id })
}