@*note: model值为总的页数*@
@model int
@{
    int sumOfPage = Model;
    int rowSize = Request.Browser.IsMobileDevice ? 5 : 10;

    object objPageIndex = ViewContext.RouteData.Values["pageIndex"] ?? 1;
    int pageIndex = Convert.ToInt32(objPageIndex);

    int beginPage = pageIndex > 1 ? ((pageIndex - 1) / rowSize) * rowSize : 0;
    int endPage = beginPage + rowSize;
    endPage = endPage > sumOfPage ? sumOfPage : endPage;

    string formatUrl = Html.FormatPage();

}
<nav>
    <ul class="pagination">
        @if (pageIndex > 1)
        {
            <li><a id="@(pageIndex - 1)" href="@string.Format(formatUrl, pageIndex - 1)">&lt;&lt;</a></li>
        }
        @for (int i = beginPage; i < endPage; i++)
        {
            string currentPage = (i + 1 == pageIndex) ? "active" : string.Empty;
            <li class="@currentPage"><a id="@(i + 1)" href="@string.Format(formatUrl, i + 1)">@(i + 1)</a></li>
        }
        @if (pageIndex < sumOfPage)
        {
            <li><a id="@(pageIndex + 1)" href="@string.Format(formatUrl, pageIndex + 1)">&gt;&gt;</a></li>
        }
    </ul>
</nav>