@model  ViewModel.Articles.IndexModel
@using ProdService
@{
    Layout = "~/Views/Shared/Layout/_DualColumn.cshtml";

    object userId = ViewContext.RouteData.Values["userId"];
}
@section Description
{
    <title>@ViewData["title"]</title>
}
@if (userId != null)
{
    @Html.Action("_MapSignsOfAuthor")
    <hr />
}
<span class="fa fa-window-restore"></span> 更多
@foreach (var item in Model.Items)
{
    <div style="margin-bottom:20px; padding-bottom:10px; border-bottom: 1px dashed #ccc;">
        @Html.Partial("_SingleItem", item)
    </div>
}
@if (Model.SumOfPages > 1)
{
    @Html.Partial("_Pager", Model.SumOfPages)
}
@*@Html.Action("_Widget", "Invite")*@
@*@if (userId != null)
{
    @Html.Action("_WidgetOnOwner", "Category", new { ownerId = userId })
}
@Html.Action("_Widget", "Keyword")
@Html.Action("_Widget", "User")
@Html.Action("_Show", "AdInWidget")*@