@{
    Layout = null;
}
@model IList<ViewModel.Chat.ChatItemModel>
@foreach (var item in Model)
{
    <div zyf-chat-items-container class="clearfix chat-items-container">
        <a zyf-chat-reply-btn id="@item.Id" class="btn btn-default btn-sm left">
            <span></span><br>
            <span>回复 @item.Reply</span>
        </a>
        <div zyf-chat-item class="chat-item">
            <div class="small text-muted">
                <span>@item.PublishTime</span>
                <span data-toggle="tooltip" title="" data-original-title="">
                    <a href="/User/@item.ChatAuthorId" zyf-show-contact="6">
                        @item.AuthorName
                    </a>
                </span>
                <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position: relative; top: -1px;" data-original-title="初级教师">
                    <span>④</span>
                </a>
                <input zyf-chat-item-author-id="" type="hidden" value="6">
            </div>
            <div>
                <span zyf-chat-item-content>@item.Content</span>
            </div>
        </div>
    </div>
}