@model ViewModel.Chat.ChatItemModel
@{
    Layout = null;
}
@if (Model.Reply != null)
{
    <div zyf-chat-item="" data-id="24" class="chat-item text-right">
        <div class="small text-muted">
            <span>@Model.PublishTime</span>
            <span data-toggle="tooltip" title="" data-original-title="捐赠 9.9">
                <a href="/User/@Model.ChatAuthorId" zyf-show-contact="7" style="color:#DCB962">
                    @Model.AuthorName
                </a>
            </span>
            <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="初级教师">
                <span>④</span>
            </a>
            <input zyf-chat-item-author-id="" type="hidden" value="7">
        </div>
        <div>
            <span class="bg-info">
                <span class="fa fa-at"></span>
                <span data-toggle="tooltip" title="" data-original-title="">
                    <a href="/User/@Model.Reply.ChatAuthorId" zyf-show-contact="6" style="color:deepskyblue">
                        @Model.Reply.AuthorName
                    </a>
                </span>
                <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="初级教师">
                    <span>④</span>
                </a>
            </span><br>
            <span class="text-muted bg-info"><span class="fa fa-quote-left"></span>@Model.Reply.Content</span><br>
            <span zyf-chat-item-content>@Model.Content</span>
        </div>
    </div>
}
else
{
    <div zyf-chat-items-container class="clearfix chat-items-container">
        <a zyf-chat-reply-btn id="@Model.Id" class="btn btn-default btn-sm left">
            <span>回复</span>
        </a>
        <div zyf-chat-item="" data-id="6" class="chat-item">
            <div class="small text-muted">
                <span>@Model.PublishTime</span>
                <span data-toggle="tooltip" title="" data-original-title="">
                    <a href="/User/@Model.ChatAuthorId" zyf-show-contact="6">
                        @Model.AuthorName
                    </a>
                </span>
                <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position: relative; top: -1px;" data-original-title="初级教师">
                    <span>④</span>
                </a>
                <input zyf-chat-item-author-id="" type="hidden" value="6">
            </div>
            <div>
                <span zyf-chat-item-content="">@Model.Content</span>
            </div>
        </div>
    </div>
}