@page
@model _17bnag.Article.SingleModel
@{
    Layout = "~/Pages/Layout/_DualColumn.cshtml";
}
@section Description
{
}
<link href="~/css/about.css" rel="stylesheet" />
<link href="~/css/Register.css" rel="stylesheet" />
<link href="~/css/Problem.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<div class="container body-content">
    <div style="margin-top:55px" class="row">
        <div class="col-md-8">
            <img src="~/img/源栈上课啦.jpg" class="img-responsive" style="margin-bottom:20px;" />
            <div class="text-primary h2-inline">
                <span class="iconfont icon-article"></span> @Model.Articles.Title
            </div>
            <hr>
            <span style="top:60px;" class="visible-xs-inline visible-sm-inline flag">
                <a>
                    <span class="fa fa-window-restore"></span> 更多
                </a>
            </span>
            <div>
                <span>
                    <small class="text-muted" zyf-datetime="">
                        <span>
                            <span class="iconfont icon-article"></span>
                            <span>@Model.Articles.PublishTime</span>
                        </span>
                    </small>
                </span>
                <span class="pull-right">
                    <span zyf-article-arthor="">
                        作者：
                        <a href="/Article/User-@Model.Articles.AuthorId">@Model.Articles.Author.Name</a>
                    </span>
                    <a href="/Article/Edits/@Model.Articles.Id" @*class="hide"*@ style="margin-left:14px;" data-author-id="7"><span class="fa fa-pencil-square-o"></span> 修改</a>
                </span>
                <div style="clear:both; word-break:break-all; padding-top:20px;">
                    <p>
                        测试文章发布-内容
                    </p>
                    <p>
                        <span>@Model.Articles.Body</span>
                    </p>
                </div>
                <div class="clearfix" style="padding-top:10px;">
                    <div>
                        <label>
                            <span class="fa fa-tags">
                            </span>  关键字：
                        </label>
                        <span class="badge">@Model.Articles.keywords</span>
                    </div>
                    <div class="article-appraise appraise-status pull-right">
                        <a class="appraise-status-item text-success" href="/Article/Appraise?id=36&amp;direction=1" zyf-vote="" data-author-id="7">
                            <span class="fa fa-thumbs-o-up"></span>
                            <span class="visible-sm-inline visible-md-inline visible-lg-inline">赞：</span>
                            <span zyf-votes-count="">4</span>
                        </a>
                        <a class="appraise-status-item text-muted" href="/Article/Appraise?id=36&amp;direction=-1" zyf-vote="" data-author-id="7">
                            <span class="fa fa-thumbs-o-down"></span>
                            <span class="visible-sm-inline visible-md-inline visible-lg-inline">踩：</span>
                            <span zyf-votes-count="">0</span>
                        </a>
                    </div>
                    <div zyf-article-donate-container="" style="padding-bottom:25px;">
                        <div style="clear:both;margin-left:auto;margin-right:auto;width:65px;height:65px;">
                            <div zyf-article-donate-btn="" data-author-id="7" data-article-id="36" class="yellow-highlight text-center" data-toggle="tooltip" title="" data-original-title="点击打赏">
                                <span class="iconfont icon-money credit fa-2x"></span><br>打赏
                            </div>
                        </div>
                        <div class="article-donate">
                            <span class="fa fa-smile-o fa-2x text-success pull-left" style="display:table-cell;"></span>
                            <div style="display:table-cell;">
                                <div>
                                    已收到打赏的
                                    <a href="/FAQ/Money" data-toggle="tooltip" class="credit" title="" data-original-title="点击了解">
                                        <span class="iconfont icon-money"></span> 帮帮币
                                    </a>
                                    ：
                                </div>
                                <div zyf-problem-donors-container="" class="clearfix"><small class="text-info">快来做第一个打赏的好心人吧，O(∩_∩)O~</small></div>
                            </div>
                            <hr>
                            <div style="clear:both;" class="text-muted">
                                <span class="fa fa-info-circle"></span>
                                你的 <span class="credit">打赏</span> 非常重要！<br>
                                为了<a href="/FAQ/Article#grant">保证文章的质量</a>，每一篇文章的发布，都已经消耗了作者 1 枚
                                <a href="/FAQ/Money" data-toggle="tooltip" class="credit" title="" data-original-title="点击了解">
                                    <span class="iconfont icon-money"></span> 帮帮币
                                </a>
                                。<br>
                                没有“帮帮币”，作者无法发布新的文章。
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;">
                        <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1587611131293">
                            <a href="#" class="bds_more" data-cmd="more"></a>
                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                            <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                        </div>
                    </div>
                </div>
                <div style="margin-top:20px;">
                    <div class="yellow-highlight" style="padding:5px 10px;">
                        <a style="color:#354756" title="" data-toggle="tooltip" href="/FAQ/Ad#article" data-original-title="这是什么？">投稿人推广：</a> <a href="http://task.zyfei.net/">雅芳比女人更了解女人</a>
                    </div>
                </div>
                <div style="padding-top:20px;">
                    <div zyf-not-logon="" class="yellow-highlight need-login">
                        <span class="fa fa-exclamation-triangle" style="color:yellowgreen;"></span>
                        你还没有登录，不能进行相关操作。请<a href="/Log/On?prepage=%2fArticle%2f36">登录</a>或
                        <a href="/Register/Home?prepage=%2fArticle%2f36">注册</a>。
                        （<a href="/Shared/_JoinUs" class="small" zyf-why-joinus="">
                            <span class="fa fa-question-circle"></span> 为什么要加入我们
                        </a>）
                    </div>
                    <div class="hide">
                        <h4>
                            <span class="fa fa-send"></span> <label>我有话说：</label>
                        </h4>
                        <form action="/Article/36" method="post" novalidate="novalidate">
                            <div zyf-comment-reply-reminder=""></div>
                            <input data-val="true" data-val-number="字段 ReplyId 必须是一个数字。" id="CommentBody_ReplyId" name="CommentBody.ReplyId" type="hidden" value="" zyf-comment-reply-id=""><span class="field-validation-valid" data-valmsg-for="CommentBody.ReplyId" data-valmsg-replace="true"></span>    <div class="form-group">
                                <div class="ke-container ke-container-default" style="width: 100%;"><div style="display:block;" class="ke-toolbar" unselectable="on"><span class="ke-outline" data-name="source" title="HTML代码" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-source" unselectable="on"></span></span><span class="ke-inline-block ke-separator"></span><span class="ke-outline" data-name="formatblock" title="段落" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-formatblock" unselectable="on"></span></span><span class="ke-outline" data-name="fontsize" title="文字大小" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-fontsize" unselectable="on"></span></span><span class="ke-outline" data-name="bold" title="粗体(Ctrl+B)" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-bold" unselectable="on"></span></span><span class="ke-outline" data-name="italic" title="斜体(Ctrl+I)" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-italic" unselectable="on"></span></span><span class="ke-outline" data-name="underline" title="下划线(Ctrl+U)" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-underline" unselectable="on"></span></span><span class="ke-outline" data-name="strikethrough" title="删除线" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-strikethrough" unselectable="on"></span></span><span class="ke-outline" data-name="removeformat" title="删除格式" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-removeformat" unselectable="on"></span></span><span class="ke-inline-block ke-separator"></span><span class="ke-outline" data-name="table" title="表格" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-table" unselectable="on"></span></span><span class="ke-outline" data-name="insertorderedlist" title="编号" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-insertorderedlist" unselectable="on"></span></span><span class="ke-outline" data-name="insertunorderedlist" title="项目符号" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-insertunorderedlist" unselectable="on"></span></span><span class="ke-inline-block ke-separator"></span><span class="ke-outline" data-name="link" title="超级链接" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-link" unselectable="on"></span></span><span class="ke-outline" data-name="unlink" title="取消超级链接" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-unlink" unselectable="on"></span></span><span class="ke-inline-block ke-separator"></span><span class="ke-outline" data-name="code" title="插入程序代码" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-code" unselectable="on"></span></span><span class="ke-outline" data-name="quote" title="插入引用" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-quote" unselectable="on"></span></span><span class="ke-outline" data-name="image" title="图片" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-image" unselectable="on"></span></span><span class="ke-inline-block ke-separator"></span><span class="ke-outline" data-name="fullscreen" title="全屏显示(Esc)" unselectable="on"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-fullscreen" unselectable="on"></span></span></div><div style="display: block; height: 100px;" class="ke-edit"><iframe class="ke-edit-iframe" hidefocus="true" frameborder="0" tabindex="" style="width: 100%; height: 100px;"></iframe><textarea class="ke-edit-textarea" hidefocus="true" tabindex="" style="width: 100%; height: 100px; display: none;"></textarea></div><div class="ke-statusbar"><span class="ke-inline-block ke-statusbar-center-icon"></span><span class="ke-inline-block ke-statusbar-right-icon"></span></div></div><textarea class="form-control" cols="20" data-val="true" data-val-required="* 正文不能为空" id="CommentBody_Content" name="CommentBody.Content" placeholder="精选评论有帮帮币奖励哟！O(∩_∩)O~" rows="4" zyf-kindeditor="" zyf-new-comment="" style="display: none;"></textarea>
                                <span class="field-validation-valid" data-valmsg-for="CommentBody.Content" data-valmsg-replace="true"></span>
                            </div>
                            <div zyf-logon="" class="submit hide">
                                <input type="submit" class="btn btn-primary" value="提交" zyf-problem-comment-submit="" zyf-submit-once="">
                                <input type="reset" class="btn btn-default">
                            </div>
                            <div zyf-not-logon="" class="yellow-highlight need-login">
                                <span class="fa fa-exclamation-triangle" style="color:yellowgreen;"></span>
                                你还没有登录，不能进行相关操作。请<a href="/Log/On?prepage=%2fArticle%2f36">登录</a>或<a href="/Register/Home?prepage=%2fArticle%2f36">注册</a>。
                                （<a href="/Shared/_JoinUs" class="small" zyf-why-joinus=""><span class="fa fa-question-circle"></span> 为什么要加入我们</a>）
                            </div>
                        </form>
                    </div>
                </div>
                <div style="margin-top: 25px;">
                    <div class="checkbox pull-left">
                        <label>
                            <input id="inCategory" name="inCategory" type="checkbox" value="true" zyf-nav-in-category=""><input name="inCategory" type="hidden" value="false">
                            在系列 <a href="/Article/Category-10"><span class="fa fa-folder"></span> 默认分类</a>
                            中的：
                        </label>
                    </div>
                    <a class="btn btn-default btn-sm pull-right" href="/Article/Category-10?fulltext=1&amp;articleId=36">
                        <span class="iconfont icon-pages"></span> 全系列阅读
                    </a>
                    <div zyf-article-nav-container="" style="clear:both; margin-bottom:20px; padding:10px 15px; border: 2px dashed #808080; border-radius:4px 5px;">
                        <div>
                            <span class="fa fa-arrow-up"></span>
                            上一篇：
                            <a href="/Article/35">50城抢人才大战：谁在以人才名义放松限购？</a>

                        </div>
                        <div style="margin-top:6px;">
                            <span class="fa fa-arrow-down"></span>
                            下一篇：
                            <span class="text-info">已经是最后一篇了……</span>
                        </div>
                    </div>
                </div>
                <div class="appraise-status" style="clear:both; margin-top: 15px;">
                    <span class="lead" style="margin-right:20px">
                        <span class="fa fa-comments-o"></span>
                        <span class="visible-sm-inline visible-md-inline visible-lg-inline">评论</span>
                        <small>
                            （ <span zyf-comment-of-article-count="" title="" data-toggle="tooltip" data-original-title="精选评论">0</span> /
                            <span title="" data-toggle="tooltip" data-original-title="全部评论">0</span> ）
                        </small>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4 visible-md visible-lg">
            <partial name="_RankingList" />
            <partial name="_Article" />
            <partial name="_Advertising" />
        </div>
    </div>
</div>
